{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>
    <form action="{%url 'save_changes' %}" method="POST">
        {% csrf_token %}
        <label>Title:</label>
        <input type="text" name="title" placeholder="Enter the title" value="{{title}}" required>
        <br>
        <label>Markdown content:</label>
        <br>    
        <textarea name="description" required>{{content}}</textarea>
        <br>
        <button class="btn btn-primary" type="submit">Save changes</button>
    </form>
  

{% endblock %}